@charset "utf-8";
.calendarBody {
		scrollbar-face-color: #F6F6F6;
		scrollbar-highlight-color: #bbbbbb;
		scrollbar-3dlight-color: #FFFFFF;
		scrollbar-shadow-color: #bbbbbb;
		scrollbar-darkshadow-color: #FFFFFF;
		scrollbar-track-color: #FFFFFF;
		scrollbar-arrow-color: #bbbbbb;
		margin-left:"0px"; margin-right:"0px"; margin-top:"0px"; margin-bottom:"0px";
		background-color : #ffffff;
		}

td {font-size: 9pt; color:#595959;}
th {font-family: "돋움"; font-size: 9pt; color:#ffffff;}
select {font-family: "돋움"; font-size: 9pt; color:#595959;}


.divDotText {
overflow:hidden;
text-overflow:ellipsis;
}

/* A:link { font-size:9pt; font-family:"돋움";color:#ffffff; text-decoration:none; } */
/* A:visited { font-size:9pt; font-family:"돋움";color:#ffffff; text-decoration:none; } */
/* 마우스 올렸을때 색 바뀌는 부분 */
.contentsCount{
  margin-left: 10px;
}

.contentsCnt1:active, .contentsCnt2:active, .contentsCnt3:active { 
	font-size:15pt; 
	font-family:"돋움";
	color:#FEBC38; 
	text-decoration:none;  
	
}
.contentsCnt1:hover, .contentsCnt2:hover, .contentsCnt3:hover { 
	font-size:15pt; 
	font-family:"돋움";
	color:#FEBC38;
	text-decoration:none;
	
}

.day{
  width:100px; 
  height:30px;
  font-weight: bold;
  font-size:15px;
  font-weight:bold;
  text-align: center;
}



.cal-navigation{
  font-size: larger;
  font-weight: bold;
  color: #FEBC38;  
}

.sat{
  color:#529dbc;
}
.sun{
  color:red;
}

.searchBox{
  float:right;
}


/* #typeSearch{ */
/* 	width:80px; */
/* 	height:30px; */
/* 	margin-bottom: 5px; */
/* 	border-color: #FEBC38; */
/* 	border-radius: 4px; */
/* 	font-size: large; */
/*   color: #ffffff; */
/* } */


/* 검색어 입력창 */
/* input{ */
/* 	width:200px; */
/* 	height:30px; */
/* 	border-color: #FEBC38; */
/* 	border-radius: 4px; */
/* 	background-color: #F6F6F6; */

/* } */

.today_button_div{
  float: left;
  margin-bottom: 15px;
  
}

.today_button{
  width: 100px; 
  height:30px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #febc38;
  border-radius: 4px;
  background-color: #febc38;
  font-size: medium;
  color: white;
}

.searchBoxBtn{
  border-style: solid;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  border-color: #FEBC38;
  border-radius: 4px;
  background-color: #FEBC38;

}

.calendar{
  width:80%;
  margin:auto;
}

.cal-navigation{
  margin-top:100px;
  margin-bottom:30px;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
}
.calendar_body{
  width:100%;
  background-color: #FFFFFF;
  border:1px solid white;
  margin-bottom: 50px;
  border-collapse: collapse;
  padding-top: 20px;
  border-radius: 8px;
}
.calendar_body .today{
  border:1px solid #FFFFFF;
  height:120px;
/*   background-color:#febc38; */
  text-align: left;
  vertical-align: top;
}

.no-data-message{
	color:red;	
}

.contentsCnt1, .contentsCnt2, .contentsCnt3 {
	margin-top:20px;
	font-size:large;
  	color : #595959;
}
.calendar_body .date{
  font-weight: bold;
  font-size: 15px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom:5px;
}
.calendar_body .sat_day{
  border:1px solid white;
  height:120px;
  background-color:#EFEFEF;
  text-align:left;
  vertical-align: top;
}
.calendar_body .sat_day .sat{
  color: #529dbc; 
  font-weight: bold;
  font-size: 15px;
  padding-left: 3px;
  padding-top: 3px;
}
.calendar_body .sun_day{
  border:1px solid white;
  height:120px;
  background-color:#EFEFEF;
  text-align: left;
  vertical-align: top;
}
.calendar_body .sun_day .sun{
  color: red; 
  font-weight: bold;
  font-size: 15px;
  padding-left: 3px;
  padding-top: 3px;
}
.calendar_body .normal_day{
  border:1px solid white;
  height:120px;
  background-color:#EFEFEF;
  vertical-align: top;
  text-align: left;
}
a.before_after_month{
  margin: 10px;
  font-weight: bold;
  font-size: larger;
  color: #595959;
}

a.before_after_year{
  font-weight: bold;
  font-weight: bold;
  font-size: larger;
  color: #595959;
}
.this_month{
  margin: 10px;
  color : #595959;
  font-size: larger;
}

/* 모달에 대한 CSS */
#modal-musical, #modal-concert, #modal-festival {
  display: none;
  position: relative;
  z-index: 9999;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  width: 50rem;
  height: 50rem;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.modal-header{
	display: flex;
	justify-content: space-between;
	color: #595959;
	position: relative;
}

.modal-title{
	text-align: center;
	
}

button.modal-close-btn {
	position: absolute; /* 절대 위치 지정 */
  right: 0; /* 오른쪽에 고정 */
  top: 0; /* 상단에 고정 (필요에 따라 조절 가능) */
  margin-top:10px;
  margin-right:20px;
  height: 35px;
  width: 70px;
  color: #ffffff;
  background-color: #FEBC38;
  border-style: none;
  border-radius: 4px;
}

.modal-content-wrap {
	margin: 0 auto;
	width: 50rem;
	height: 50rem;
	color: #595959;
	margin:5px;
  align-items: center;

}

.modal-body{
	margin: 0 auto;
	width: 50rem;
	height: 50rem;
	color: #F6F6F6;
	box-sizing: border-box;
	max-height: auto; /* 원하는 높이로 조정 */
	overflow-y: auto; /* 내용이 넘칠 때 수직 스크롤바 추가 */
}

.modal-content-container{
	max-height: calc(100% - 80px); /* 모달 헤더와 푸터의 높이를 고려한 최대 높이 설정 */
	overflow-y: auto; /* 내용이 넘칠 때 수직 스크롤바 추가 */
	margin-right:10px;
}

.modal-contents-list{
	width: 25%; /* 4개 컨텐츠가 한 줄에 들어가도록 25%로 설정 */
	float: left; /* 왼쪽으로 띄워서 나란히 표시 */
	box-sizing: border-box; /* 요소의 width와 height에 padding과 border를 포함시킴 */
	padding: 15px; /* 컨텐츠 간의 간격을 조절 */
	padding-bottom: 25px;
	text-align: center;
}

.modal-comImg{
	width:150px;
	height:200px;	
}

.modal-list-txt{
  size: 10px;
  align-items: center;
  margin-top:10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* 오버레이에 대한 CSS */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9995;
}

form#calendarFrm {
    padding-top: 5px;
}
