@charset "UTF-8";
/* 이 css는 모든 유형별 페이지에서 공통으로 사용됩니다. */

.genreContents{
	background-color : #ffffff;
}
.categoryTop{
	padding-top: 10px;
	margin-left: 200px  
}
.list-title{
	size: larger;
	color: #595959;
	font-size: xx-large;
}
/* 기간검색에 쓰이는 부분 */
.contentSearchBox{
	margin-top: 2rem;
	margin-right: 10rem;
}
.contentSearchBox-wrap{
	display: flex;
	justify-content:flex-end;
	font-size: larger;
}
.contentSearchBtn{
	margin-left: 1rem;
	background-color: white;
    margin-left: 1rem;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    border-radius: 10px;
    width: 61px;
    height: 32px;
    text-align: center;
    font-weight: 800;
}

#startDate, #endDate{
	width:130px;
	height: 30px;
	font-size: 17px;
	    border-radius: 4px;
    text-align: center;
}
.all-contents-list{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	justify-content: center;

}

.search-contents-list{
	padding-top: 5rem;
/* 	화면에 맞춰서 크기 조절됨 */
	display: flex;
	flex-wrap: wrap;
}

.contents-list {
float: left;
    margin-left: 28px;
    padding-top: 30px;
  
}
.list_wrap{
	position: relative;
    display: block;
    width: 180px;
    height: 358px;
    padding: 24px 24px 21px;
    border: 1px solid #eee;
}
.list-inner-wrap{
position: relative;
    display: block;
    width: 248px;
    height: px;
    padding: 24px 24px 21px;
    text-align: center;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
}
.comImg{
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */

  width: 180px;
  height: 250px;


}
.list-txt{
	color: #595959;
	text-align:center;	
}
.list-tit1{
	font-size:16px;
	display:-webkit-inline-box;
	font-weight:bold;
	margin-top : 15px;
}
.list-tit2{
	display:-webkit-inline-box;
	font-size:14px;
	
}
.list-tit3{
	font-size:13px;
}
.no-data-message {
        text-align: center;
        padding: 20px;
        font-size: 18px;
        color: #FEBC38;
    }
a.likeBtn{
	text-size-adjust: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    outline-offset: -1px;
    position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: inherit;
    line-height: 2.4rem;
    outline-style: none;
    cursor: pointer;
    top: 96%;
    left: 1%;
    z-index: 999991;
} 
.likeBtn:focus-visible {
	outline-style: auto;
}
.likeBtn:before {
	background-image: url('../img/heart.png');
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	top: 0.2rem;
	width: 3rem;
	height: 3rem;
	padding-right: 0.6rem; background-position : 0 0;
	content: '';
	background-position: 0 0;
}
.likeBtn.is-toggled:before {
	background-position: 0 -3rem;
}
.likeBtn:disabled {
	color: inherit;
}