@charset "UTF-8";
/* 이 css는 모든 유형별 페이지에서 공통으로 사용됩니다. */

.genreContents{
	background-color : #ffffff;
}

.categoryTop{
	padding-top: 80px;
	text-align: center;
  
}

.list-title{
	size: larger;
	color: #595959;
	font-size: xx-large;
}


/* 기간검색에 쓰이는 부분 */
.contentSearchBox{
	margin-top: 2rem;
	margin-right: 7rem;
}

.contentSearchBox-wrap{
	display: flex;
	justify-content:flex-end;
	font-size: larger;
}

.contentSearchBtn{
	margin-left: 1rem;
}

#startDate, #endDate{
	width:130px;
	height: 30px;
	font-size: 17px;
}


.no-data-message {
    text-align: center;
    padding: 20px;
    font-size: 18rem;
    color: #FEBC38;
}


.no-message{
  font-size: x-large;
}

.all-contents-list{
	padding-top: 5rem;
	display: flex;
	flex-wrap: wrap;
}

.search-contents-list{
	padding-top: 5rem;
/* 	화면에 맞춰서 크기 조절됨 */
	display: flex;
	flex-wrap: wrap; 
}

.contents-list {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	/*   width: 25%; 4개 컨텐츠가 한 줄에 들어가도록 25%로 설정 */
	/*   float: right; 오른쪽으로 띄워서 나란히 표시 */
	box-sizing: border-box; /* 요소의 width와 height에 padding과 border를 포함시킴 */
	padding: 15px; /* 컨텐츠 간의 간격을 조절 */
	padding-bottom: 25px;
	text-align: center;
	flex: 0 0 calc(25% - 10px); /* 4개의 열로 나누기 위한 스타일, 여백을 조절할 수 있습니다. */
	margin-right: 10px;
  
}

.comImg{
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */
  width: 18.75rem;
  height: 25rem;
  margin: 0.625rem;

}

.list-txt{
	color: #595959;
  	align-items: center;
/*   	margin-left:2em; */
	
}

.list-tit2{
	display:flex;
	align-items: center;
	margin-left:7em;
	
}

.no-data-message {
        text-align: center;
        padding: 20px;
        font-size: 18px;
        color: #FEBC38;
    }

a.likeBtn{
	text-size-adjust: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    outline-offset: -1px;
    position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: inherit;
    line-height: 2.4rem;
    outline-style: none;
    cursor: pointer;
    top: 96%;
    left: 1%;
    z-index: 999991;
} 

.likeBtn:focus-visible {
	outline-style: auto;
}

.likeBtn:before {
	background-image: url('../img/heart.png');
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	top: 0.2rem;
	width: 3rem;
	height: 3rem;
	padding-right: 0.6rem; background-position : 0 0;
	content: '';
	background-position: 0 0;
}

.likeBtn.is-toggled:before {
	background-position: 0 -3rem;
}

.likeBtn:disabled {
	color: inherit;
}