@charset "UTF-8";
/* 이 css는 모든 유형별 페이지에서 공통으로 사용됩니다. */

.musicalContents{
	background-color : #000127;
}

.categoryTop{
	padding-top: 150px;
	text-align: center;
  
}

.list-title{
	size: larger;
	color: #FFFFFF;
  font-size: xx-large;
}

.all-contents-list{
	display:flex;
	padding-top: 10rem;
}

.contents-list {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: auto;
  text-align: center;
}

/* .list-inner-wrap{ */
	
/* } */

.comImg{
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */
  width: 300px;
  height: 400px;
  margin: 10px;

}

.list-tit1{
	color: #FFFFFF;
}



