@charset "UTF-8";

body {
	margin: 0;
}
.category{
	background-color : white;
}
.category>li>a {
	color: black;
}

.contents>h1>a {
	color: #fc7110;
}

.contents>ul>li>h2>a {
	color: black;
	font-size:20px;
	transition: color 0.1s;
}
.contents>ul>li>h2>a:hover {
	color: #fc7110;
	font-size:20px;
}

.header {
	position: relative;
	z-index: 101;
}

.header .contents {
	width: 1200px;
	margin: 0 auto;
}

.header_content {
	position:relative;
	margin-bottom: 50px;
	border-bottom: 1px solid #eee;
	z-index: 1;

}



.header_content .contents {
	display: flex;
	justify-content: space-between;
	padding: 30px 6px 25px 5px;
}

.header_content .contents h1 {
	display: inline-flex;
	align-items: flex-end;
	height: 53px;
}

.header_content .contents h1 a {
	display: block;
	float: left;
	height: 100%;
	font-size: 55px;
	    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
        text-shadow: 4px 0 0 black;
}

.header_content .contents .memberInfo_wrap {
	display: flex;
	align-items: center;
	    margin-top: 22px;
    margin-right: 16px;
}

.header_content .contents .memberInfo_wrap li {
	margin-left: 44px;
	margin-top: 2px;
	
}

.header_content .contents .memberInfo_wrap li a {
	display: block;
	position: relative;
	padding-bottom: 19px;
}


.header_content .contents .memberInfo_wrap li a img {
	width: 36px;
	height: 36px;
}

.header_content .contents .memberInfo_wrap li a span {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 13px;
	color: black;
	line-height: 1.462em;
	white-space: nowrap;
	transform: translate(-50%, 0);
}

.nav {
	position: absolute;
	left: 0;
	top: 113px;
	width: 100%;
	padding: 5px 0;
	border-radius:5px;
	
}

.nav .contents {
	position: relative;
	
}

.nav_menu {
	display: inline-flex;
	padding-inline-start: 0px;
}

.nav_menu>li:first-child {
	width: 80px;
}

.nav_menu>li {
	width: 132px;
	padding: 20px 0;
	
	
}

.totalSearch_wrap {
	display: inline-flex;
	position: absolute;
	right: 0;
	top: 45px;
	padding: 0 36px 0 10px;
}

.totalSearch_wrap label {
	display: block;
}

.totalSearch_wrap label input[type="text"] {
	width: 272px;
	height: 36px;
	padding-left: 18px;
	padding-right: 55px;
	font-size: 16px;
	color: #222;
	line-height: 1.500em;
	border-radius: 10px;
	outline-color: #fc7110;
	border: 2px solid #e5e5e5;
}

.totalSearch_wrap .btn_totalSearch {
	display: block;
	position: absolute;
	right: 0px;
	top: 7px;
	width: 26px;
	height: 26px;
	font-size: 0;
	line-height: 0;
	background: transparent url(../img/search.png) center center/26px scroll
		no-repeat;
	border: 0 none;
	cursor: pointer;
}

dl, ul, ol, menu, li {
	list-style: none;
}

  .dropdown ul {
    list-style-type: none;
    padding: 0;
    border: 1px white;
    border-radius: 5px;
        box-shadow: 6px 9px 15px #000;
  }

  .dropdown ul li {
    display: inline-block;
    margin-right: 20px; /* 각 메뉴 아이템 사이의 간격 조정 */
    margin: 10px;
  }

  /* 호버 시 색상 변경 */
  .dropdown ul li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
    border : 1px;
    font-weight: bold;
  }

  .dropdown ul li a:hover {
    color: #fc7110;
  }
  
