@charset "UTF-8";

body{
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
.category{
	background-color : white;
}
.category>li>a {
	color: black;
}

.contents>h1>a {
	color: #fc7110;
}

.contents>ul>li>h2>a {
	color: black;
	font-size:20px;
	transition: color 0.1s;
}
.contents>ul>li>h2>a:hover {
	color: #fc7110;
	font-size:20px;
}

.header {
	position: relative;
	z-index: 101;
}

.header .contents {
	width: 1400px;
	margin: 0 auto;
}

.header_content {
	position:relative;
	margin-bottom: 50px;
	z-index: 1;

}



.header_content .contents {
	display: flex;
	padding: 0px 6px 25px 5px;
	margin-top:50px;
}

.header_content .contents h1 {
	display: inline-flex;
	align-items: flex-end;
	height: 53px;
	margin-left: 530px;
}
.memberInfo_wrap {
	display:flex;
}
.header_content .contents h1 a {
	display: block;
	float: left;
	height: 100%;
	font-size: 60px;
font-family: 'Jua', sans-serif !important;
    letter-spacing: 3px;
}

.memberInfo_wrap {
	display: flex;
	align-items: center;
    margin-right: 16px;
        float: right;
    margin-right: 0px;
    margin-top: 70px;
        margin-bottom: 0px;
        margin-left: 280px;
        
}

.memberInfo_wrap li {
	margin-left: 44px;
	margin-top: 2px;
	
}
#first-member{
	margin-left: 0px;
}
#second-member{
	margin-left: 0px;
}
.memberInfo_wrap li {
	margin-left: 44px;
	margin-top: 2px;
	
}

.memberInfo_wrap li a {
	display: block;
	position: relative;
	padding-bottom: 19px;
}


.memberInfo_wrap li a img {
	width: 36px;
	height: 36px;
}

.memberInfo_wrap li a span {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 13px;
	color: black;
	line-height: 1.462em;
	white-space: nowrap;
	transform: translate(-50%, 0);
	font-family: 'Noto Sans KR', sans-serif;
}

.nav {
	position: absolute;
	left: 0;
	top: 113px;
	width: 100%;
	border-radius:5px;
	
}

.nav .contents {
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
}
#calendarCss{
	width:80px;
}
.nav_menu {
	display: inline-flex;
	padding-inline-start: 0px;
	margin-top: 35px;
}

.nav_menu>li:first-child {
	width: 60px;
}

.nav_menu>li {
	width: 112px;
	
	
}

.totalSearch_wrap {
	display: inline-flex;
	position: absolute;
	right: 0;
	padding: 25px 36px 0 10px;
}

.totalSearch_wrap label {
	display: block;
}

.totalSearch_wrap label input[type="text"] {
	width: 272px;
	height: 36px;
	padding-left: 18px;
	padding-right: 55px;
	font-size: 16px;
	color: #222;
	line-height: 1.500em;
	border-radius: 10px;
	outline-color: #fc7110;
	border: 2px solid #e5e5e5;
	margin-top : 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

.totalSearch_wrap .btn_totalSearch {
	display: block;
	position: absolute;
	right: 0px;
	top: 28px;
	width: 26px;
	height: 26px;
	font-size: 0;
	line-height: 0;
	background: transparent url(../img/search.png) center center/26px scroll
		no-repeat;
	border: 0 none;
	cursor: pointer;
	margin-top : 20px;
}

dl, ul, ol, menu, li {
	list-style: none;
}

  .dropdown ul {
    list-style-type: none;
    padding: 0;
    border: 1px white;
    border-radius: 5px;
        box-shadow: 6px 9px 15px #000;
  }

  .dropdown ul li {
    display: inline-block;
    margin-right: 20px; /* 각 메뉴 아이템 사이의 간격 조정 */
    margin: 10px;
  }

  /* 호버 시 색상 변경 */
  .dropdown ul li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
    border : 1px;
    font-weight: bold;
  }

  .dropdown ul li a:hover {
    color: #fc7110;
  }
  
