@charset "UTF-8";

.member {
	width: 100%;
	z-index: 10;
	background: #ffffff;
	overflow: hidden;
}



.member .member-layout {
	margin: 80px auto;
}

.member-layout {
	padding: 40px 0;
	margin: 0 auto;
	overflow: hidden;
	background: #252525;
}

.login {
	width: 560px;
	border-radius: 10px;
}

.member-layout h1 {
	margin: 0 0 40px;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #fff;
}

.join-sns-box, .sns-box {
    float: left;
    width: 560px;
    padding: 0 40px;
}
.login ul.join-find {
    margin: 20px auto 50px;
}
.login ul.join-find {
    font-size: 0;
    text-align: center;
}

body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6,
	input, legend, li, ol, p, pre, select, table, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}
abbr, acronym, fieldset, iframe, img, td, th {
    border: 0;
}
caption, legend {
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    text-indent: -999em;
}

dd, dl, dt, ol, pre, ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.login ul.input-wrap01 li {
    margin: 0 0 10px;
}

button, label {
    cursor: pointer;
}
label {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.member-layout input[type=password].input-style01, .member-layout input[type=text].input-style01 {
    width: 100%;
    font-size: 15px;
    height: 53px;
    color: #fff;
    background-color: #2f2f2f;
    border: 0;
}

input[type=password], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    padding: 0 20px;
    margin: 0;
    color: #a5a5a5;
}

input[type=tel], input[type=text], pre, textarea {
    font-weight: 400;
}

.btn-purple, .btn-purple>a {
    text-align: center;
}
.btn-purple-dark>a, .btn-purple>a {
    background: #1351f9;
}

.btn-purple>a {
    display: block;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
}

.login ul.join-find li {
    display: inline-block;
    position: relative;
}

.login ul.join-find li:first-child a {
    padding-left: 0;
}

.login ul.join-find li a {
    padding: 0 14px;
}

.login ul.join-find li a {
    display: block;
    font-size: 14px;
    color: #a5a5a5;
}

.common-box {
    padding: 40px 40px;
}

.join {
    width: 560px;
    position: relative;
    border-radius: 20px;
}
.idpw-find {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #2f2f2f;
}

.a11y-hidden {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.idpw-find ul {
    width: 100%;
    height: 60px;
}

.idpw-find ul li {
    text-align: center;
    width: 50%;
    float: left;
}

.idpw-find ul li a {
    line-height: 58px;
    position: relative;
    top: -1px;
    font-size: 16px;
    letter-spacing: -0.3px;
}

.member-layout .certi-txt02 {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.4px;
    font-weight: 400;
    color: #a5a5a5;
}

.join .join-input-box {
    overflow: hidden;
}

.join .modify-input-box li {
    margin-bottom: 10px;
}

.join .join-input-box label {
    font-size: 16px;
    color: #a5a5a5;
    display: block;
    font-weight: 700;
}

.join .btn-box {
    padding-top: 40px;
}



















* {
	margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
}

*, body, html {
	box-sizing: border-box;
}
/* 
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width : 992px) {
	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}
}

@media ( min-width : 992px) {
	.col-md-4 {
		width: 33.33333333%;
	}
}

.login-panel {
	margin-top: 25%;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.panel-body {
    padding: 15px;
} */