@charset "UTF-8";

.multi .title {
	margin : 0 0 20px;
}

.title-area .label {
	display: inline-block;
    vertical-align: middle;
   color: #fff;
}

.title-area span {
    font-size: 24px;
    line-height: 36px;
}
.multi {
    position: relative;
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}


.multi.portrait-cell[data-v-223ac3f7] {
    min-height: 383px;
}

.multi .title h1 {
    display: inline-block;
    font-size: 0;
    line-height: 36px;
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
}

.session-contents[data-v-54077454] {
    min-height: 360px;
}


.session-contents {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}



.contents-wrapper{
	position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    transform: translateZ(0);
}

.contents-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;	
}
.portrait:last-child {
    margin-right: 0;
}
.portrait {
    position: relative;
    float: left;
    width: 240px;
}

.multi a:not(.btn-more) {
    display: block;
}

.portrait .thumb-image {
    position: relative;
    width: 240px;
    height: 320px;
    overflow: hidden;
    will-change: transform;
    border-radius: 12px;
    background-color: #252525;
}

.thumb-image .thumb-img {
    transition: all .15s linear;
    transform: scaleX(1);
}

.picture-area img, .ppv-wrap {
    width: 100%;
}

.multi .btn-more.all {
    position: absolute;
    top: 7px;
    right: 20px;
    padding: 5px 90px 10px 0;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background: transparent url(../img/next.png) center center/26px scroll no-repeat;
    background-size: 16px auto;
    filter: invert(100%) sepia(52%) saturate(20%) hue-rotate(315deg)
    brightness(103%) contrast(108%);
}

.middle-section{
	background-color : #000127;
	    padding-top: 50px;
}

.main01-nav button[class^=btn] {
    display: table-cell;
    width: 34px;
    height: 34px;
    vertical-align: middle;
}
