@charset "UTF-8";

/* 마이페이지와 회원정보 수정, 관리자 페이지에서 같이 쓰일 CSS입니다 */

#myPage-wrap{
  margin-top: 150px;
}

article{
	display:block;
}

.mypage{
	margin-top: 100px;
	display:flex;
	margin-left: 10rem;
	margin-bottom: 5rem;
}

.myPage-profile{
	display:flex;
	
}

.myPage-img{
	width: 2rem;
	height: 5rem;
}

.myPage-info{
	margin-left:5rem;
}

.myPage-name{
	font-size:xx-large;
}

.myPage-name, .myPage-update{
	margin: 2rem;
	color: #595959;
	
}

a.myPage-update{
	color: #595959;
	font-size:x-large;
}

.myPage-menu-wrapper{
	display:flex;
	margin-top: 20px;
	margin-left: 2rem; 
}

.myPage-menu{
	background-color:#ffd47f ;
}

.mypage-contents{
	margin: 10px;
	font-size: large;
}

.like-contents, .like-actor, .myPage-qna{
	border-style: none;
	width: 200px;
	height: 70px;
	font-size: larger;
	background-color: #ffd47f;
	border-color: #ffd47f;
	color: #595959;
	font-weight: bold;
}


/* 마이페이지 qna */

a.question{
	color:#595959;
}

.myPage-qna-space{
	margin:2rem;
}

.myPage-qna-button-wrap{
	display: flex;
	justify-content:flex-end;
}

.myPage-qna-button{
	margin-right: 20px;
	margin:20px;
	border-style:solid;
	border-color: #ffd47f;
	background-color: #ffd47f;
	width: 100px;
	height: 40px;
	border-radius:4px;
	color: #595959;
	font-size: medium;

}


.myQna{
	width: 50rem;
	height: 25rem;
	text-align: center;
	color: #595959;
}


.myPage-qna-list{
	border-style: solid;
	border-color: #ffd47f;
	border-radius:4px;
}

.myPage-notice{
	margin: 2rem;
	color: #595959;
}


/* 회원정보 수정 */
#myPage-memberUpdate{
	text-align:center;
}

.myPage-member{
	margin: auto;	
	margin-top: 6rem;
}

.memberUpdate{
	display:inline-block;
	border-style: solid;
	border-color: #ffd47f;
	margin: auto;
	width: 40rem;
	height: 55rem;
	margin-top: 8rem;
	
}

.memTitle{
	margin-top:3rem;
	color:#595959;
}

th.myPage-member-info, td.myPage-myInfo{
	padding: 2rem;
	color:#595959;
}

a.email-edit, a.phone-edit{
	color:#595959;
	
}
	
.myPage-member-info-wrap{
	font-size: x-large;
	
}

.myPage-member-info{
	margin-top: 2rem;
	

}

.myPage-myInfo{
	text-align: left;

	
}

a.email-edit, a.phone-edit{
	text-decoration: none;
	text-align:left;
}

.mypage-input-phone, .mypage-input-email{
	width: 200px;
	height: 40px;
	border-style: solid;
	border-radius:4px;
	border-color: #595959;
	font-size: large;
	text-align:center;
	color: #595959;
}

.myPage-correct-btn{
	display: flex;	
	text-align: center;
	padding:15px;
	
}


.correct-btn{
	list-style: none;
	margin-top: 2rem;
	margin-left:auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 10px;
	width:7rem;
	height:40px;
	background-color: #ffd47f;
	border-radius: 4px;
	border-color: #595959;
}


a.myPageBack, a.correctBtn{
	text-decoration: none;
	font-size: 30px;
	color:#595959;

}
