@charset "UTF-8";

#myPage-wrap{
  margin-top: 150px;
}

article{
	display:block;
}

.mypage{
	margin-top: 100px;
	display:flex;
	margin-left: 10rem;
	margin-bottom: 5rem;
}

.myPage-profile{
	display:flex;
	
}

.myPage-img{
	width: 2rem;
	height: 5rem;
}

.myPage-info{
	margin-left:5rem;
}

.myPage-name, .myPage-update{
	margin: 2rem;
}

.myPage-menu-wrapper{
	display:flex;
	margin-top: 20px;
	margin-left: 2rem; 
}

.myPage-menu{
	background-color:#ffd47f ;
}

.mypage-contents{
	margin: 10px;
}

.like-contents, .like-actor, .myPage-qna{
	border-style: none;
	width: 180px;
	height: 70px;
	font-size: larger;
	background-color: #ffd47f;
	border-color: #ffd47f;
	color: #595959;
	font-weight: bold;
}


/* 마이페이지 qna */

.myPage-qna-space{
	margin:2rem;
	
	
}

.myPage-qna-button-wrap{
	display: flex;
	justify-content:flex-end;
}

.myPage-qna-button{
/* 	float: right; */
	margin-right: 20px;
	margin:20px;
	border-style:solid;
	border-color: #ffd47f;
	background-color: #ffd47f;
	width: 80px;
	height: 30px;
	border-radius:4px;
	color: #595959;
	font-size: smaller;

}

.myQna{
	width: 50rem;
	height: 25rem;
	text-align: center;
}


.myPage-qna-list{
	border-style: solid;
	border-color: #ffd47f;
	border-radius:4px;
}

.myPage-notice{
	margin: 2rem;
}