@charset "UTF-8";

.multi .title {
	margin: 0 0 20px;
}

.title-area .label {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.title-area span {
	font-size: 24px;
	line-height: 36px;
}

.multi {
	position: relative;
	width: 1300px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 30px;
}

.multi.portrait-cell[data-v-223ac3f7] {

}

.multi .title h1 {
	display: inline-block;
	font-size: 0;
	line-height: 36px;
	color: #black;
	font-weight: 400;
	vertical-align: middle;
	border-bottom: 2px solid;
}

.session-contents {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.contents-wrapper {
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	transform: translateZ(0);
}

.contents-slide {
    width: 160px;
    margin-right: 10px;
    box-shadow: 3px 3px 3px gray;
    transition: all .3s cubic-bezier(0,0,.5,1);
    border-radius: 18px;
}

.portrait:last-child {
	margin-right: 0;
}

.portrait {
	position: relative;
	float: left;
	width: 160px;
}

.multi a:not(.btn-more) {
	display: block;
    margin-bottom: -2px;
    border-radius: 12px;
}

.portrait .thumb-image {
	position: relative;
	width: 160px;
	height: 240px;
	overflow: hidden;
	will-change: transform;
	border-radius: 12px;
	background-color: #252525;
}

.thumb-image .thumb-img {
	transition: all .15s linear;
	transform: scaleX(1);
}

.picture-area img, .ppv-wrap {
	width: 100%;
	height: 100%
}
.portrait-cell {
	width: 842px;
}

.multi .btn-more.all {
	position: absolute;
	top: 7px;
	right: 20px;
	padding: 5px 20px 10px 0;
	font-size: 16px;
	line-height: 24px;
	color: white;
	background: transparent url(../img/next.png) right scroll no-repeat;
	background-size: 16px auto;
	z-index:100;
}

.middle-section {
	padding-top: 50px;
	position: relative;
}

/* .middle-section::after {
	position: absolute;
	content: "";
	background-image: url('../img/bomb9.png');
	background-repeat: no-repeat;
	background-position: 60px 20px;
	background-size: 90%;
	opacity: 20%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
} */

.main01-nav button[class^=btn] {
	display: table-cell;
	width: 34px;
	height: 34px;
	vertical-align: middle;
}

.picture-area img {
	transition: transform 0.3s;
}

.picture-area {
	overflow: hidden; /* 이미지 넘침 제어 */
}

.picture-area:hover img {
	transform: scale(1.1); /* 호버 상태에서 이미지를 확대합니다 (1.1배로 확대). */
}

div#under-line {
    border-bottom: 2px solid;
}

#modal-festa {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 24%;
	top: 9%;
	width: 60rem;
	height: 50rem;
	background-color: #F6F6F6;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .2);
	padding: 15px;
	background-color: #fff;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	color: #000127;
	position: relative;
}

button.modal-close-btn {
	position: absolute; /* 절대 위치 지정 */
	left:52rem; /* 오른쪽에 고정 */
	top: 0; /* 상단에 고정 (필요에 따라 조절 가능) */
	margin-right: 20px;
	height: 35px;
	width: 70px;
	color: #000127;
	background-color: #FEBC38;
	border-style: none;
	border-radius: 4px;
}

.modal-content-wrap {
	margin: 0 auto;
	width: 50rem;
	height: 50rem;
	color: #F6F6F6;
	margin: 5px;
}

.modal-body {
	margin: 0 auto;
	width: 50rem;
	height: 50rem;
	color: black;
	box-sizing: border-box;
	max-height: auto; /* 원하는 높이로 조정 */
	overflow-y: auto; /* 내용이 넘칠 때 수직 스크롤바 추가 */
}

.modal-content-container {
	max-height: calc(100% - 80px); /* 모달 헤더와 푸터의 높이를 고려한 최대 높이 설정 */
	overflow-y: auto; /* 내용이 넘칠 때 수직 스크롤바 추가 */
	margin-right: 1px;
}

.today-contents {
	display: flex;
	flex-wrap: wrap;
}

.big-img {
	background-color: rgb(242, 242, 242);
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	color: rgb(0, 0, 0);
	display: block;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	height: 205px;
	letter-spacing: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: center;
	vertical-align: baseline;
	width: 320px;
}

.slide-wrap .big-img img {
	height: 100%;
}

.app-title{
	width:100%;
}
.top {
	margin-bottom: 20px;
}

.cb-type1 .bot ul>li strong {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
	text-align: left;
	vertical-align: baseline;
	letter-spacing: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.gaeyo {
	color: rgb(0, 0, 0);
	font-size: 16px;
	letter-spacing: normal;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	vertical-align: baseline;
}

/* 오버레이에 대한 CSS */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9995;
}