@charset "UTF-8";
.smalllogo{
color: #fc7110;
    padding-top: 25px;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    cursor:pointer;
}
body{
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
.category{
	background-color : white;
}
.category>li>a {
	color: black;
}

.contents>h1>a {
	color: white;
}

.contents>ul>li>h2>a {
	color: black;
	font-size:20px;
	transition: color 0.1s;
}
.contents>div>ul>li>h2>a:hover {
	color: #fc7110;
	font-size:20px;
}

.header {
	position: relative;
	z-index: 101;
}

.header .contents {
	width: 1400px;
	margin: 0 auto;
}

.header_content {
	position:relative;
	margin-bottom: 50px;
	z-index: 1;

}



.header_content .contents {
	display: flex;
	padding: 0px 6px 25px 5px;
	margin-top:50px;
}

.header_content .contents h1 {
	display: inline-flex;
	align-items: flex-end;
	height: 53px;
	margin-left: 585px;
}
.memberInfo_wrap {
	display:flex;
}
.header_content .contents h1 a {
	display: block;
	float: left;
	height: 100%;
	font-size: 60px;
font-family: 'Gloock', sans-serif !important;
    letter-spacing: 3px;
}

.memberInfo_wrap {
    display: flex;
    align-items: center;
    margin-right: 16px;
    float: right;
    margin-top: 5px;
    margin-bottom: 14px;
    margin-left: 800px;
    filter: brightness(0) invert(1);
}

.memberInfo_wrap li {
	margin-left: 20px;
	margin-top: 2px;
	
}
#first-member{
	margin-left: 0px;
}
#second-member{
	margin-left: 0px;
}
.memberInfo_wrap li {
	margin-left: 44px;
	margin-top: 2px;
	
}

.memberInfo_wrap li a {
	display: block;
	position: relative;
	padding-bottom: 19px;
}


.memberInfo_wrap li a img {
	width: 36px;
	height: 36px;
}

.memberInfo_wrap li a span {
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: black;
    transform: translate(-50%, 0);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.nav {
	position: absolute;
	left: 0;
	top: 113px;
	width: 100%;
	border-radius:5px;
	
}

.nav .contents {
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
}
#calendarCss{
	width:80px;
}

.nav_menu {
    display: inline-flex;
    padding-inline-start: 0px;
    margin-top: 64px;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    opacity: 92%;
    color:white;
    font-size:small;
    z-index:1;
}
#qnaCss{
	width:90px;
}
.nav_menu>li:first-child {
	width: 60px;
}

.nav_menu>li {
	width: 112px;
	
	
}
.nav_menu>li>h2>a {
	color:white;
}
.totalSearch_wrap {
    display: inline-flex;
    position: absolute;
    right: 0;
    padding: 55px 36px 0 10px;
    z-index:1;
}

.totalSearch_wrap label {
	display: block;
}

.totalSearch_wrap label input[type="text"] {
	width: 272px;
	height: 36px;
	padding-left: 18px;
	padding-right: 55px;
	font-size: 16px;
	color: white;
	line-height: 1.500em;
	border-radius: 10px;
	outline-color: #fc7110;
	border: 2px solid #e5e5e5;
	margin-top : 20px;
	font-family: 'Noto Sans KR', sans-serif;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    border-radius: 18px;
    	background-color:#000127
    
}

.totalSearch_wrap .btn_totalSearch {
	display: block;
	position: absolute;
	right: 0px;
	top: 28px;
	width: 26px;
	height: 26px;
	font-size: 0;
	line-height: 0;
	background: transparent url(../img/search.png) center center/26px scroll
		no-repeat;
	border: 0 none;
	cursor: pointer;
	margin-top : 50px;
	filter: brightness(0) invert(1);

}

dl, ul, ol, menu, li {
	list-style: none;
}

  .dropdown ul {
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    border: 1px white;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    width: 80px;
        margin-top:10px;
  }

  .dropdown ul li {
    display: inline-block;
    margin-right: 20px; /* 각 메뉴 아이템 사이의 간격 조정 */
    margin: 10px;
  }

  /* 호버 시 색상 변경 */
  .dropdown ul li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
    border : 1px;
    font-weight: bold;
  }

  .dropdown ul li a:hover {
    color: #fc7110;
  }
  
