@charset "UTF-8";

/* 마이페이지와 회원정보 수정, 관리자 페이지에서 같이 쓰일 CSS입니다 */

#myPage-wrap{
  position: relative;
  z-index: 100;
}

article{
	display:block;
}

.mypage{
	margin-top: 100px;
	display:flex;
	margin-left: 53rem;
	margin-bottom: 2rem;
}

.myPage-profile{
	display:flex;

}
.myPage-img{
		filter: brightness(0) invert(1);
}
.myPage-img-select source {
    width: 150px; /* 최대 너비를 100%로 설정하여 이미지 비율 유지 */
    height: 150px; /* 높이를 자동으로 조정하여 이미지 비율 유지 */
}

/* img 태그에 스타일 추가 */
.myPage-img-select img {
    width: 150px; 
    height: 150px; 
    margin-left : 25px
}

.myPage-info{
	color:white;
}
.myPage-update{
	color:white;
}
.myPage-update:hover{
	color:#fc7110;
}

.myPage-name{
	font-size:xx-large;
}

.myPage-name, .myPage-update{
	
}

a.myPage-update{
	font-size:x-large;
}

.myPage-menu-wrapper{
    display: flex;
    background-color: white;
    width: 1300px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

.myPage-menu{
    display: flex;
    justify-content: center;
}

.mypage-contents{
	margin: 10px;
	font-size: large;
}
.like-contents:hover{
	color:#fc7110;
}
.like-actor:hover{
	color:#fc7110;
}
.myPage-qna:hover{
	color:#fc7110;
}

.like-contents, .like-actor, .myPage-qna{
	width: 200px;
	height: 70px;
	font-size: larger;
	color: #595959;
	font-weight: bold;
}

.my-like-content{
	margin:2rem;
	display:flex;
	    justify-content: center;
}

.my-content-wrap{
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1300px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

.like-list-wrap {
    margin: 15px;
    text-align:center; 
}

.like-list-title{
	width:160px;
	height:50px;
	
}

.comImg{
	width:150px;
	height:200px;
	border-radius:10px;
}

a.myLikeContent{
	margin:15px;
	color: #595959;
}

.like-list-title{
	text-align: center;
	    text-align: center;
    color: #959595;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    margin-top: 10px;
}


.my-like-actor{
	display:none;
	margin:2rem;
	    display: flex;
    justify-content: center;
}

/* 마이페이지 qna */

a.question{
	color:#595959;
}

.myPage-qna-space{
	margin:2rem;
}

.myPage-qna-button-wrap{
	display: flex;
	justify-content:flex-end;
}

.myPage-qna-button{
	margin-right: 20px;
	margin:20px;
	border-style:solid;
	border-color: #ffd47f;
	background-color: #ffd47f;
	width: 100px;
	height: 40px;
	border-radius:4px;
	color: #595959;
	font-size: medium;

}

.myPage-qna-wrap{
	display: flex;
    justify-content: center;
    background-color: white;
    width: 800px;
    margin-left: 552px;
}


.myQna{
	width: 50rem;
	height: 25rem;
	color: #595959;
}


.myPage-qna-list{
    display: flex;
    justify-content: center;
}
.myPage-notice{
	margin: 2rem;
	color: #595959;
}


/* 회원정보 수정 */
#myPage-memberUpdate{
	text-align:center;
}

.myPage-member{
	margin: auto;	
	margin-top: 6rem;
}

.memberUpdate{
	display:inline-block;
	border-style: solid;
	border-color: #ffd47f;
	margin: auto;
	width: 40rem;
	height: 55rem;
	margin-top: 8rem;
	
}

.memTitle{
	margin-top:3rem;
	color:#595959;
}

th.myPage-member-info, td.myPage-myInfo{
	padding: 2rem;
	color:#595959;
}

a.email-edit, a.phone-edit{
	color:#595959;
	
}
	
.myPage-member-info-wrap{
	font-size: x-large;
	
}

.myPage-member-info{
	margin-top: 2rem;
	

}

.myPage-myInfo{
	text-align: left;

	
}

a.email-edit, a.phone-edit{
	text-decoration: none;
	text-align:left;
}

.mypage-input-pw, .mypage-input-phone, .mypage-input-email{
	width: 200px;
	height: 40px;
	border-style: solid;
	border-radius:4px;
	border-color: #595959;
	font-size: large;
	text-align:left;
	color: #595959;
}

.myPage-correct-btn{
	display: flex;	
	text-align: center;
	padding:15px;
	
}


.correct-btn{
	list-style: none;
	margin-top: 2rem;
	margin-left:auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 10px;
	width:7rem;
	height:40px;
	background-color: #ffd47f;
	border-radius: 4px;
	border-color: #595959;
}


a.myPageBack, a.correctBtn{
	text-decoration: none;
	font-size: 30px;
	color:#595959;

}


#deleteForm {
	    display: flex;
    justify-content: space-around;
}
/* 관리자 페이지  */
.notice-contents, .admin-qna-contents, .admin-content-list, .admin-user-manager{
    width: 130px;
    height: 45px;
    font-size: larger;
    color: black;
    font-weight: bold;
    border-radius: 15px;
        border: none;
            background-color: white;
}

/* 안에 내용에 따라 박스 크기가 조절됩니다 */
.admin-content-wrap{
	height:auto;
	
}

.userDeleteButtonWrap{
	display: flex;
	float:right;
}

.userDeleteBtn{
border-radius: 4px;
    margin-top: 20px;
    width: 64px;
    height: 38px;
    color: black;
    font-size: medium;
    font-weight: bold;
    border-color: #959595;
    margin-left:20px;
}

.no-like-message{
}

.userList{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    width: 700px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    padding-left: 10px;
    padding-top:10px;
}

.userManagement{
	font-size:x-large;
	color: #595959;
	margin-bottom: 2rem;
}

.allUserInfoId, .allUserInfoName, .allUserInfoPhone, .allUserInfoEmail{
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: large;
	
}

input[type="checkbox"] {
    width: 18px; 
    height: 18px; 
}

.allUserInfo{
	text-align:center;
	color:#959595;
}

.allUserInfoId{
	width: 100px;
	height: 50px;
	
}

.allUserInfoName{
	width:180px;
	height:50px;
}

.allUserInfoPhone{
	width: 250px;
	height:50px;
}

.allUserInfoEmail{
	width:300px;
	height:50px;
}
.contentsManager{
	width: 100%;
    display: flex;
    justify-content: center;
}

#contentsBtn{
	height: 50px;
    width: 100px;
    margin: 50px;
    border: 1px solid;
    border-radius: 10px;
	background-color:#fc7110;
    border-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color:white;
}