@charset "UTF-8";

.register-top {
    margin-bottom: 10px;
    text-align: center;
}

.chooseContents{
	    display: flex;
    justify-content: center;
    margin-left: 600px;
}
.register-top h4 {
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding-top: 30px;
}

.chooseContents{
	color: black;
}

.es-text {
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.qna_register{
}
.register-table {
    width: 100%;
    justify-content: center;
    display: flex;

}

.register-table th {
    padding: 24px 0 12px 40px;
    font-weight: 700;
    font-size: 25px;
    color: black;
    vertical-align: top;
}

.register-table td {
    padding: 12px 28px 12px 0;
}

.register-table-wrap input[type="text"], .register-table-wrap input[type="tel"], .register-table-wrap select {
width: 435px;
    height: 46px;
    border-radius: 18px;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: black;
    padding-left: 20px;
    box-sizing: inherit;
    margin: auto;
    background-color: white;
    border: 1px solid;
    border-color: white;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    margin-left: 20px;
        font-weight: bold;
}

.register-table-wrap textarea.register-table-textarea03 {
    height: 350px;
    margin-top: 10px;
}

.register-table-wrap textarea {
    width: 715px;
    border-radius: 18px;
    background-color: white;
    border: 1px solid;
    border-color: white;
    color: black;
    padding: 12px 20px;
    font-size: 16px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    margin-left:20px;
}

.register-btn-wrap {
    text-align: center;
}

.register-btn-wrap ul {
    display: inline-block;
    margin: 40px auto 0;
    text-align: center;
}

.register-btn-wrap ul li {
    float: left;
    margin: 0 5px;
}

.register-btn-wrap ul li a, .register-btn-wrap ul li button, .register-btn-wrap ul li input[type="submit"] {
    display: block;
    width: 250px;
    height: 52px;
    line-height: 52px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
        box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    margin-bottom: 40px;
}
.register-cancel {
    background-color: #5e5e5e;
    color: #fff;
}
.register-submit {
    background-color: #fc7110;
    color: #fff;
}

.register-btn-wrap input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.login-submit {
    background-color: #fc7110;
    color: #fff;
}


/* 컨텐츠 삭제 */
.contentManagement{
	size: large;
}

.musicalContentList{
	
}

.contentList{
	color:#FFFFFF;
	font-size: large;
/* 	border-style: solid; */
/* 	border-radius: 5px; */
	border-color: #FFFFFF;
	
}