<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.project.mapper.ContentsMapper">

 
	<select id="MusicalRead" resultType = "org.project.domain.ContentsVO">
		select * from tbl_musical where m_num = #{m_num}
	</select>
	
	<!--유형별페이지에서 사용 -->
	<!--뮤지컬 -->
	<select id="getMusicalContents" resultType = "org.project.domain.ContentsVO">
		SELECT * FROM tbl_musical ORDER BY m_start_date DESC
	</select>
	
	<!--콘서트 -->
	<select id="getConcertContents" resultType = "org.project.domain.ContentsVO">
		SELECT * FROM tbl_concert ORDER BY m_start_date DESC
	</select>
	
	<!--페스티벌 -->
	<select id="getFestivalContents" resultType = "org.project.domain.ContentsVO">
		SELECT * FROM tbl_festival ORDER BY m_start_date DESC
	</select>
	
	
	
	<!-- 캘린더 내 모달에서 사용됨 -->
	<select id ="getToday_m_contents" resultType ="org.project.domain.ContentsVO">
		<![CDATA[
			select *
			from tbl_musical
			where sysdate > m_start_date and sysdate < m_end_date
		]]> 

</select>
</mapper>