<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.project.mapper.InfoImgMapper">

	<select id="getInfoImgList" resultType = "org.project.domain.DImgVO">
		select info_img from detail_img where m_title = (
		    SELECT m_title
		    FROM tbl_musical
		    WHERE m_num = #{m_num}
		)
	</select>
	
</mapper>