<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.MemberMapper">

	<insert id="insert">
	
		insert into tbl_user(userNum, id, pw, name, phone, email)
		values(seq_user.nextval, #{id}, #{pw}, #{name},#{phone}, #{email})
		
	</insert>

	<select id="getUserInfo" resultType="org.project.domain.MemberVO">
		select * from tbl_user where id = #{id}
	</select>
	
	<select id="selectLogin" resultType="string">
		
		select pw from tbl_user where id = #{id}
		
	</select>
	
	<select id="IsIdValid" resultType="int">
		
		select count(*) from tbl_user where id = #{id}
			
	</select>
	<select id="IsEmailValid" resultType="int">
		
		select count(*) from tbl_user where email = #{email}
			
	</select>
	<select id="findId" parameterType="map" resultType="string">
        SELECT id FROM tbl_user
        WHERE name = #{name} AND email = #{email} AND phone = #{phone}
    </select>
    <select id="findPw" parameterType="map" resultType="string">
        SELECT pw FROM tbl_user
        WHERE id = #{id} AND name = #{name} AND email = #{email} AND phone = #{phone}
    </select>
    

   <update id="updateUserInfo">
	    UPDATE tbl_user
	    SET pw=#{pw, jdbcType=VARCHAR}, phone=#{phone, jdbcType=VARCHAR}, email=#{email, jdbcType=VARCHAR}
	    WHERE id=#{id, jdbcType=VARCHAR}
	</update> 

<!-- 관리자 페이지에서 사용합니다. -->
	<select id = "getAllUser" resultType="org.project.domain.MemberVO">
		select * from tbl_user
	</select>
	
	<delete id = "deleteUser" parameterType="map">
		delete from tbl_user where id=#{id}
	</delete>

</mapper>