<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.QnaMapper">

<select id="getList" resultType="org.project.domain.QnaVO">
<![CDATA[select * from tbl_qna where b_num > 0 ]]>
</select>

<select id="read" resultType="org.project.domain.QnaVO">
select * from tbl_qna where b_num = #{b_num}
</select>
<select id="qnaTotalCount" resultType="int">
	select count(*) from tbl_qna where id = #{id, jdbcType=VARCHAR}
</select>

<select id="getListWithPaging" resultType="org.project.domain.QnaVO">
  <![CDATA[
    select b_num, b_title, b_content, b_writer, regdate, updatedate, id 
    from (
      select /*+INDEX_DESC(tbl_qna pk_board) */
      rownum rn, b_num, b_title, b_content, b_writer, regdate, updatedate, id 
      from tbl_qna 
      where rownum <= #{pageNum} * #{amount}
      and id = #{id, jdbcType=VARCHAR}
    )
    where rn > (#{pageNum} - 1) * #{amount}
  ]]>
</select>

<insert id="insert">
    insert into tbl_qna (b_num, b_title, b_content, b_writer, id) 
    values (seq_board.nextval, #{b_title}, #{b_content}, #{b_writer}, #{id})
</insert>

<delete id="delete">
	delete from tbl_qna where b_num = #{b_num}
</delete>

<update id="update">
	update tbl_notice
	set 
	b_title= #{b_title, jdbcType=VARCHAR},
	b_content = #{b_content, jdbcType=VARCHAR},
	updateDate = sysdate
	where b_num = #{b_num, jdbcType=INTEGER}
</update>

<insert id="insertSelectKey">
	<selectKey keyProperty="b_num" order="BEFORE"
	resultType="long">
	select seq_board.nextval from dual
	</selectKey>
	
	insert into tbl_qna (b_num, b_title, b_content, b_writer, id) 
	values (#{b_num}, #{b_title}, #{b_content}, #{b_writer}, #{id})
</insert>

</mapper>