<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.project.mapper.ReplyMapper">
		<insert id="insert">
			insert into tbl_reply (rno, b_num, reply, replyer)
			values (seq_reply.nextval, #{b_num}, #{reply}, #{replyer})
		</insert>
		<select id="read" resultType="org.project.domain.ReplyVO">
			select * from tbl_reply where rno = #{rno}
		</select>
		
		<delete id="delete">
			delete from tbl_reply where rno = #{rno}
		</delete>
		
		<update id="update">
			update tbl_reply set reply = #{reply}, updatedate = sysdate =sysdate where rno = #{rno}
		</update>
		
		<select id="getListwithPaging"
		resultType="org.project.domain.ReplyVO">
		select rno, b_num, reply, replyer, replyDate, updatedate from tbl_reply where b_num = #{b_num}
		order by rno asc
		</select>
	</mapper>