<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis XML 설정 파일에서 SQL 쿼리를 정의 -->
<mapper namespace="org.project.mapper.SearchMapper">
    <select id="searchMusicals" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT m_title, m_img, m_num
        FROM tbl_musical
        WHERE m_title LIKE '%'||#{keyword}||'%'
    </select>
    <select id="searchConcerts" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT m_title, m_img, m_num
        FROM tbl_concert
        WHERE m_title LIKE '%'||#{keyword}||'%'
    </select>
    
    <select id="searchFestivals" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT contentid as m_num, f_title as m_title, f_link as m_b_link, f_img as m_img
        FROM tbl_festa
        WHERE f_title LIKE '%'||#{keyword}||'%'
    </select>
    
    <select id="searchActors" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT a_name, a_img, a_link
        FROM tbl_actor
        WHERE a_name LIKE '%'||#{keyword}||'%'
    </select>

</mapper>