<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis XML 설정 파일에서 SQL 쿼리를 정의 -->
<mapper namespace="org.project.mapper.SearchMapper">
    <select id="searchMusicals" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT m_title, m_img, m_num
        FROM tbl_musical
        WHERE m_title LIKE '%'||#{keyword}||'%'
    </select>
    <select id="searchConcerts" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT m_title, m_img, m_num
        FROM tbl_concert
        WHERE m_title LIKE '%'||#{keyword}||'%'
    </select>
    
    <select id="searchFestivals" parameterType="string" resultType="org.project.domain.FestaVO">
		SELECT contentId,f_title,f_img,
				to_char(f_s_date,'YY/MM/DD') AS f_s_date,
				to_char(f_e_date,'YY/MM/DD') AS f_e_date,
				f_tel,f_infoadr,f_text,f_link,f_adress,f_time
        FROM tbl_festa
        WHERE f_title LIKE '%'||#{keyword}||'%'
    </select>
    
    <select id="searchActors" parameterType="string" resultType="org.project.domain.SearchVO">
        SELECT a_name, a_img, a_link
        FROM tbl_actor
        WHERE a_name LIKE '%'||#{keyword}||'%'
    </select>

</mapper>